.botones {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .botones:hover {
    background-color: #45a049;
  }
  
  .botones-vaciar {
    background-color: #f44336; 
  }
  
  .botones-vaciar:hover {
    background-color: #d32f2f; 
  }

.titulos{
    font-size: larger;
    color:blueviolet;
}

.titulos-carrito{
    font-size: large;
    background-color: #04D976;
    color:#000000;
    align-items: center;
}

